@if(recipe) {
<mat-card class="recipe-card card-dark" (click)="onSelectCard()">

  <img mat-card-image [src]="recipe.imageUrl ? recipe.imageUrl : 'assets/images/placeholder-image.jpg'"
    alt="Bild {{recipe.title}}">
  <mat-card-content class="recipe-info">
    <h3>{{ recipe.title }}</h3>
    <p>Zubereitungszeit: {{ recipe.preparationTime }} Minuten</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="onAddingFavorite($event)">
      <mat-icon> {{
        isFavorite ? "favorite" : "favorite_border"
        }} </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
} @else {
<ng-container>
  <p>Keine Rezepte vorhanden.</p>
</ng-container>
}