# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
.angular/cache/
.angular/local/

# Node
/node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
pnpm-debug.log
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
System Volume Information/
lost+found/

# Environment Variables & API Keys
.env
.env.local
.env.development
.env.production
.env.test
*.env.*

# Git-specific Files
.git/
.gitignore
.gitkeep
.gitattributes

# backend
backend/node_modules