.recipe-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    gap: 8px;
    padding: 16px 16px 16px 16px;
    box-sizing: border-box;
    max-height: 60vh;
    overflow-y: auto;
  }
  textarea[matInput] {
    width: 100%;
    resize: none;
    overflow: hidden; 
  }
  
  @media (max-width: 900px) {
    .recipe-card {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 600px) {
    .recipe-card {
      grid-template-columns: 1fr;
    }
  }