<section>
  <div class="heading-search-container">
    <h1>Rezeptbibliothek</h1>
    <app-recipe-search [recipes]="allRecipes" (filteredRecipes)="setFilteredRecipes($event)"></app-recipe-search>
  </div>
  <div class="card-container">
    <ng-container *ngIf="allRecipes.length > 0; else noRecipes">
      <ng-container *ngFor="let recipe of allRecipes">
        <recipe-search-card [recipe]="recipe" (selectCard)="onSelectRecipe(recipe.recipeId)"
          (addFavorite)="onToggleFavorite(recipe.recipeId)" [isFavorite]="isFavorite(recipe.recipeId)">
        </recipe-search-card>
      </ng-container>
    </ng-container>
    <ng-template #noRecipes>
      <p>Keine Rezepte gefunden.</p>
    </ng-template>
  </div>
</section>