<form [formGroup]="form">
  <h1>Finde Deine Rezepte, die zu Dir passen</h1>
  <section>
    <h2>Filter</h2>
    <mat-form-field>
      <mat-label>Diät</mat-label>
      <mat-select formControlName="dietTypes" multiple>
        @for (dietType of dietTypes; track dietType) {
        <mat-option [value]="dietType">{{dietType}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </section>
  <section>
    <h2>Suchergebnisse</h2>
    <!-- @for (recipe of recipes; track recipe) {
    <app-recipe-search-card [recipe]="recipe"></app-recipe-search-card>
    } -->
    <div class="recipe-card-container">
    @for (recipe of recipes; track recipe) {
    <app-recipe-search-card [recipe]="recipe"></app-recipe-search-card>
    }
    </div>
  </section>
</form>
