:host {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: auto; // <- wichtig für Flex-Verhalten!
}

.footer {
  text-align: center;
  justify-content: center;
  font-size: 15px;
  padding: 1rem 0;
  background-color: #004f4f;

  a {
    color: inherit;
    text-decoration: underline;
  }

  @media (max-width: 600px) {
    font-size: 12px;
    padding: 0.6rem 0;
  }
}
