<h1>Unsere Rezepte</h1>
<div class="card-container">
  <ng-container *ngFor="let recipe of allRecipes">
    <div class="recipe-card" (click)="onSelectRecipe(recipe.recipeId)">
      <img
        [src]="
          recipe.imageUrl ? recipe.imageUrl : 'assets/placeholder-image.jpg'
        "
        alt="Bild {{ recipe.title }}"
      />
      <div class="recipe-info">
        <h3>{{ recipe.title }}</h3>
        <p>Zubereitungszeit: {{ recipe.preparationTime }} Minuten</p>
      </div>
    </div>
  </ng-container>
</div>
